ENVIRONMENT=development
DEBUG=True

# MySQL 配置 (Docker 内部服务名直接写 mysql 即可)
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=liteknow_dev
MYSQL_USER=root
MYSQL_PASSWORD=root_password
DATABASE_URL
JWT_SECRET_KEY=liteknow_super_secret_key_2026_fallback
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# 微信小程序配置
WX_APPID=wx19d420e9dc25170a
WX_SECRET=7c277058b2b177504c8a5afbdd11132d

# Redis 配置
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

LLM_ENABLED=True
LLM_API_KEY=sk-lfsuiccdnkrckjrnppfzdmljngoawmujjcmjccrrmcykenls
LLM_BASE_URL=https://api.siliconflow.cn/v1
LLM_DEFAULT_MODEL=THUDM/GLM-Z1-9B-0414

LLM_MODEL_ZHIPU=THUDM/GLM-Z1-9B-0414
LLM_MODEL_DEEPSEEK=deepseek-ai/DeepSeek-V3

# 后端服务端口
PORT=8000